<div class="container-fluid">
    <div class="card card-body">
        <div class="botones">
            <button class="btn btn-success" style="width: 70%; height: 60%;" (click)="nuevoInventario()">Crear inventario</button>
        </div>
        <div class="botones">
            <button class="btn btn-dark" style="width: 70%; height: 60%;">Analizar inventario</button>
        </div>
        <div class="botones">
            <button class="btn btn-primary" style="width: 70%; height: 60%;">Lista inventarios</button>
        </div>
    </div>
</div>

