.container-fluid{
    background: rgb(139, 137, 137);
    height: 100%;
    padding-top: 5%;
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .secciones {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: nowrap;
            margin-top: 5%;
            width: 100%;
            .datosDeposito {
                width: 50%;
                td{
                    padding: 10px;
                    border: 2px solid black;
                    width: 50%;
                    text-align: center;
                }
            }
        }
        .botonFinalizar {
            display: flex;
            justify-content: flex-end;
            flex-wrap: nowrap;
            margin-top: 5%;
            width: 100%;
        }
    }
}

.spacingComponents {
    margin-right: 2%;
}