<div class="container-fluid">
    <div class="card card-body">
        <div class="seccion1">
            <h2 class="spacingComponents">Inventario N°</h2>
            <mat-form-field class="spacingComponents" appearance="fill">
                <mat-label>Nombre del inventario</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div class="seccion2">
            <div class="ubicacion">
                <h3 class="spacingComponents">Ubicación:</h3>
                <mat-form-field class="spacingComponents" appearance="fill">
                    <mat-label>Ubicacion</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="nombre">
                <h3 class="spacingComponents">Nombre:</h3>
                <mat-form-field class="spacingComponents" appearance="fill">
                    <mat-label>Nombre</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
        </div>
        <div class="fichador">
            <h5 class="spacingComponents">Fichar productos</h5>
            <mat-form-field class="spacingComponents" appearance="fill">
                <mat-label>Fichar productos</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div class="fichajes">
            <div class="artFichados">
                <h5 class="spacingComponents">Cantidad de art. fichados:</h5>
                <mat-form-field class="spacingComponents" appearance="fill">
                    <mat-label>Fichados</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="fichadosErroneos">
                <h5 class="spacingComponents">Fichados erroneos:</h5>
                <mat-form-field class="spacingComponents" appearance="fill">
                    <mat-label>Errores</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
        </div>
        <div class="botones">
            <button class="btn btn-danger spacingComponents" style="width: 50%; height: 60px;" type="reset">Resetear</button>
            <button class="btn btn-primary spacingComponents" style="width: 50%; height: 60px;">Finalizar ubicación</button>
        </div>
    </div>
</div>
